# User-specific configuration
config.yaml
.env

# Data folders
booru_data
sql_data

# Client Development Artifacts
*/*_modules/
client/public

# Server Development Artifacts
.coverage
.cache
server/**/lib/
server/**/bin/
server/**/pyvenv.cfg
__pycache__/
